:root {
    --primary-color:#58355E;
    --secondary-color:#61365A;
    --accent1-color:#693655 ;
    --accent2-color:#9C363A ;
}
.grid div{
    display: grid;
    grid-template-columns:repeat(5,100px);
    grid-template-rows:100px;
}
.flex img{
    justify-content: flex-start;
}


h1, h2, h3, p{
    font: bold;
    font-size: larger;
    margin-bottom:20px ;
    text-align: center;
    color:navy;
}


body{
    margin: 0 auto;
}
.hero {
    position: relative;
    max-width: 200%;
}
.hero img {
    height: 20%;
    width: 100%;
    display: block;
}
.hero h1 {
    position: absolute;
    color: var(--accent2-color);
    top: 5%;
    background-color: #f1eaea;
    left: 1px;
    right: 1px;
    text-align: left;
    opacity: 0.7;
    padding: 10px;
    text-align: center;
}
.hero article {
    position: absolute;
    background-color: #fcedf9;
    top: 110px;
    left: 30px;
    padding: 1px;
    opacity: 0.9;
}
.hero article img{
    width: 200px;
    float: right;
}
.hero article p{
    color: #61365A;
    font-size: 20px;
}

.nav{
    display: flex;
    align-items: center;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    
}

.navigations{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.navigations a{
    text-decoration: none;
}

.adventure{
    margin: 2rem 0;
    background-color: #55555533;
}

.adventure-img-wrapper{
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    column-gap: .5rem;
}

.adventure-img{
    grid-column: span 1;
    background-color: #9C363A;
}

.fit-img{
    width: 100%;
    height: 100%;
}

footer {
	border-top: 1px solid #555;
	padding-top: 5px;
    clear: both;
    background-color:#61365a5d;
}

.social-link{
    display: flex;
    justify-content: center;
}

.social-link a img{
    text-decoration:none;
    width: 30px;
    padding: 0 .5rem;
}
/* this is for the contact us page */
button{
    margin:0 auto;
    padding: 0.5rem;
    margin: 1rem;
    width: 10rem;
    height: 1rem;
}
.contact-info{
    display: grid;
    grid-template-columns: auto;
    font: 1em sans-serif;
    font-size: larger;
}

.form-submit{
    background-color:blue ;
    font-size:larger;
    font:bold;
    text-align: center;
}
.submit{
    display: flex;
    justify-content: center;
}

.map-title{
    display: flex;
    justify-content: center;
}
.map-p-sub-container{
    display: flex;
    justify-content: flex-start;
    height: 10rem;
    width: 100%; 
    border: 1px solid #03020a59;
}
.fit-map-container{
    width: 100%;
    height: 100%;
    background-color: #693655;
    border: 1px solid #02010c38;
}
.map-p-wrapper{
    height: 20rem;
    background-color: #4729f13a;
    border: 1px solid #00000000;
    height: 16rem;
}
.img-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    column-gap: 2rem;
    padding-top:1px ; 
    padding-bottom:1px;
    background-color: #3111e733;
    height: 25rem;
    
}
    
.img-container{
width: 100%;
height:80%;
border: 1px solid #00000010;
}

.fit-img-container{
width: 100%;
height: 100%;
}

.full-name-box{
    width: 20%;
}

.email-box{
    width: 20%;
}
.textarea{
    width:100%;
}
.legend{
    font: 1em sans-serif;
    font-size: larger;
}
.messege-font{
    font: 1em sans-serif;
    font-size: larger;
}
.sub-font{
    font: 1em sans-serif;
    font-size: larger;
}
